html, body {height: 100%;} {height: 100%;}

body {
	font-family: helvetica;
	font-size: 11pt;
	width: 900px;
	margin: auto;
}

.main {
	float: left;
	background-color: #e6ecec;
	width: 100%;
	min-height: 100%;
	overflow:auto;

}

/*********** HEADER ***********/
.header {
	
}

.header-title {
	background-image: url('../resources/img/header/header_bandeau.png');
	background-repeat: no-repeat;
	height: 100px;
}

.header-menu {
	clear: both;
	background-image: url('../resources/img/header/header_bg_menu.png');
	background-repeat: repeat-x;
	height: 55px;
}

.header-menu-group-button {
	
}

/******* HEADER MENU COMPONENT *******/
.header-menu-button {
	margin-left: 5px;
}

.header-menu-button-left {
	background-image:
		url('../resources/img/header/header_menu_btn_left.png');
	padding-left: 12px;
	padding-bottom: 24px;
}

.header-menu-button-center {
	background-image:
		url('../resources/img/header/header_menu_btn_center.png');
	background-repeat: repeat-x;
	padding-bottom: 24px;
}

.header-menu-button-text-layout {
	
}

.header-menu-button-text {
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	color: #700D1D;
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 17pt;
	font-style: normal;
}

.header-menu-button-text:HOVER {
	color: #BF0418;
}

.header-menu-button-right {
	background-image:
		url('../resources/img/header/header_menu_btn_right.png');
	padding-right: 12px;
	padding-bottom: 24px;
}

/********** PAGE BANNER COMPONENT ***********/
.page-banner {
	background-image: url('../resources/img/join/join_banner.png');
	background-repeat: no-repeat;
	height: 60px;
}

.page-banner-text {
	font-size: 35pt;
	color: white;
	padding-left: 5px;
	font-weight: bold;
	font-family:American Typewriter
}

/********* ROUNDED EVENT PANEL COMPONENT **********/ 
.rounded-panel-event {
	width: 280px;
	border-style: solid;
	border-width: 1px;
	border-color: #59875F;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color: white;
	font-family: helvetica;
}

.rounded-panel-event-header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.rounded-panel-event-body-img {
	width: 280px;
}

.rounded-panel-event-header-img {
	background-image: url('../resources/img/puce/puce_1.png');
	padding-left: 15px;
	padding-bottom:4px;
	background-repeat: no-repeat;
}

.rounded-panel-event-header-text-1 {
	vertical-align:middle;
	font-size: 15pt;
	color: #00A61D;
}

.rounded-panel-event-header-text-2 {
	vertical-align:middle;
	font-size: 15pt;
	color: #BF0418;
	
}

.rounded-panel-event-footer {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 55%;
}

.rounded-panel-event-footer-text {
	font-size: 11pt;
	color: #BF0418;
}

.rounded-panel-event-footer-img {
	background-image: url('../resources/img/puce/puce_2.png');
	padding-left: 15px;
	padding-bottom:5px;
	background-repeat: no-repeat;
}

/********* ROUNDED PANEL COMPONENT **********/ 
.rounded-panel {
	width: 310px;
	border-style: solid;
	border-width: 1px;
	border-color: #59875F;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color: white;
	font-family: helvetica;
}

.rounded-panel-header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.rounded-panel-header-img {
	background-image: url('../resources/img/puce/puce_3.png');
	padding-left: 30px;
	padding-bottom:15px;
	background-repeat: no-repeat;
}

.rounded-panel-header-text-1 {
		vertical-align:middle;
font-size: 11pt;
	color: #00A61D ;
}

.rounded-panel-header-text-2 {
	vertical-align:middle;
	font-size: 11pt;
	color: #85AA8A;
	
}



/*********** HOME ***********/
.home-banner {
	background-image: url('../resources/img/home/home_banner.png');
	height: 250px;
	width: 100%;
}

.home-banner-text {
	color: white;
	text-align: center;
	padding-left: 55%;
	padding-right: 5%;
	padding-top: 5%;
	font-family: Helvetica;
	font-size: 21pt;
	font-weight: bold;
	float: r;
}


.home-body {
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-body-conference {
	float: left;
	margin-left: 5px;
}

.home-body-university {
	float: left;
	margin-left: 5px;
}

.home-body-right-content {
	float: left;
	margin-left: 5px;
}

.home-remaining-time-number {
	border-style: solid; 
	border-color: #e6eeef;; 
	border-width: 1px;
	font-size: 16pt;
	color:red;
	background-color: #e6ecec;
	font-weight: bold;
	padding: 3px 3px 3px 3px;
}

.home-remaining-time-text {
	font-size: 14pt;
	color: #000000;
	font-weight: bold;
	
}

.home-remaining-time {
	margin-bottom: 15px;
	margin-left: 45px;
}

/******** JOIN *********/

.join-intro {
	color: #700D1D;
	padding-left: 5px;
}

/******* CONTACT ********/
.contact-phone {
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}

.contact-web {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.contact-phone-content {
	margin-left: 10px;
	margin-bottom: 10px;
}

.contact-web-content {
	margin-left: 10px;
	margin-bottom: 10px;
}


/********** FOOTER **********/
.footer {
	background-image: url('../resources/img/footer/footer_bg.png');
	background-repeat: repeat-x;
	height: 70px;
	padding-top: 40px;
	clear: both;
	color: #85AA8A;
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	clear:both;
}

.footer-copyright {
	font-size: 9pt;
}

.footer-menu {
	padding-left: 20%;
}

.footer-menu a {
	display: inline-block;
	text-decoration: none;
	font-size: 11pt;
	font-style: normal;
	font-family: helvetica;
}

.footer-menu a:visited {
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 11pt;
	font-style: normal;
	font-family: helvetica;
	color: #85AA8A;
}
