html, body {height: 100%;} {height: 100%;}

body {
	font-family: helvetica;
	font-size: 11pt;
	width: 900px;
	margin: auto;
}



.main {
	float: left;
	background-color: #e6ecec;
	width: 100%;
	min-height: 100%;
	overflow:auto;

}

/*********** HEADER ***********/
.header {
	background-color: #e6ecec;
}

.header-marge {
	height: 10px;
}

.header-title {
	background-image: url('../resources/img/header/logo_jcertif_2012.png');
	background-repeat: no-repeat; 
	height: 80px;
}

.header-user {
	text-align: right;
	margin-right: 5px;
	padding-top: 50px;
}

.header-logout {
	text-align: right;
	margin-right: 5px;
}

.header-logout a {
	display: inline-block;
	text-decoration: none;
	font-size: 11pt;
	font-style: normal;
	font-family: helvetica;
	color:#BF0418;
}

.header-logout a:visited {
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 11pt;
	font-style: normal;
	font-family: helvetica;
	color:#BF0418;
}



.header-menu {
	clear: both;
	background-image: url('../resources/img/header/header_bg_menu.png');
	background-repeat: repeat-x;
	height: 55px;
}

.header-menu-group-button {
	
}

/******* HEADER MENU COMPONENT *******/
.header-menu-button {
	margin-left: 5px;
}

.header-menu-button-left {
	background-image:
		url('../resources/img/header/header_menu_btn_left.png');
	padding-left: 12px;
	padding-bottom: 24px;
}

.header-menu-button-center {
	background-image:
		url('../resources/img/header/header_menu_btn_center.png');
	background-repeat: repeat-x;
	padding-bottom: 24px;
}

.header-menu-button-text-layout {
	
}

.header-menu-button-text {
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	color: #700D1D;
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 17pt;
	font-style: normal;
}

.header-menu-button-text:HOVER {
	color: #BF0418;
}

.header-menu-button-right {
	background-image:
		url('../resources/img/header/header_menu_btn_right.png');
	padding-right: 12px;
	padding-bottom: 24px;
}

/********** PAGE BANNER COMPONENT ***********/
.page-banner {
	background-image: url('../resources/img/join/join_banner.png');
	background-repeat: no-repeat;
	height: 60px;
	margin-top:10px;
}

.page-banner-text {
	font-size: 35pt;
	color: white;
	padding-left: 5px;
	font-weight: bold;
	font-family:American Typewriter
}

/********* ROUNDED EVENT PANEL COMPONENT **********/ 
.rounded-panel-event {
	width: 280px;
	border-style: solid;
	border-width: 1px;
	border-color: #59875F;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color: white;
	font-family: helvetica;
}

.rounded-panel-event-header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.rounded-panel-event-body-img {
	width: 280px;
}

.photoslider-mini{width: 280px;;height:200px;}

.rounded-panel-event-header-img {
	background-image: url('../resources/img/puce/puce_1.png');
	padding-left: 15px;
	padding-bottom:4px;
	background-repeat: no-repeat;
}

.rounded-panel-event-header-text-1 {
	vertical-align:middle;
	font-size: 15pt;
	color: #00A61D;
}

.rounded-panel-event-header-text-2 {
	vertical-align:middle;
	font-size: 15pt;
	color: #BF0418;
	
}

.rounded-panel-event-footer {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 55%;
}

.rounded-panel-event-footer-text {
	font-size: 11pt;
	color: #BF0418;
}

.rounded-panel-event-footer-img {
	background-image: url('../resources/img/puce/puce_2.png');
	padding-left: 15px;
	padding-bottom:5px;
	background-repeat: no-repeat;
}

/********* ROUNDED PANEL COMPONENT **********/ 
.rounded-panel {
	width: 310px;
	border-style: solid;
	border-width: 1px;
	border-color: #59875F;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color: white;
	font-family: helvetica;
}

.rounded-panel-header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.rounded-panel-header-img {
	background-image: url('../resources/img/puce/puce_3.png');
	padding-left: 30px;
	padding-bottom:15px;
	background-repeat: no-repeat;
}

.rounded-panel-header-text-1 {
		vertical-align:middle;
font-size: 11pt;
	color: #00A61D ;
}

.rounded-panel-header-text-2 {
	vertical-align:middle;
	font-size: 11pt;
	color: #85AA8A;
	
}

/*********** SOCIAL NETWORK PANEL ***********/
.social-network-panel {
	border: 1px solid #0071BC;
	background-color: #d7dbf9; 
	height: 30px;
}

.social-network-panel a {
	font-family: Helvetica Light;
	display: inline-block;
	text-decoration: none;
	color: #0071BC;
	font-size: 10pt;
}

.social-network-panel a:visited {
	font-family: Helvetica Light;
	text-decoration: none;
	display: inline-block;
	color: #0071BC;
	font-size: 10pt;
}

.social-network-panel-text {
	
	width:60%;
	padding-left:5%;
	padding-right: 5%;
	padding-top:1%;
	float: left;
}

.social-network-panel-img {
	float: left;
	padding-left:5%;
	padding-right: 5%;
	padding-top:1%;
}




/*********** HOME ***********/
.home-banner {
	background-image: url('../resources/img/home/home_banner.png');
	height: 220px;
	width: 100%;
}

.home-banner-people {
	background-image: url('../resources/img/home/home_banner_people.png');
	height: 190px;
	background-repeat: no-repeat;
	margin-top: 10px;
}


.home-banner-text {
	color: white;
	text-align: center;
	padding-left: 55%;
	padding-right: 5%;
	padding-top: 5%;
	font-family: Helvetica;
	font-size: 21pt;
	font-weight: bold;
}


.home-body {
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-body-conference {
	float: left;
	margin-left: 5px;
}

.home-body-university {
	float: left;
	margin-left: 5px;
}

.home-body-right-content {
	float: left;
	margin-left: 5px;
}

.home-remaining-time-number {
	border-style: solid; 
	border-color: #e6eeef;; 
	border-width: 1px;
	font-size: 16pt;
	color:red;
	background-color: #e6ecec;
	font-weight: bold;
	padding: 3px 3px 3px 3px;
}

.home-remaining-time-text {
	font-size: 14pt;
	color: #000000;
	font-weight: bold;
	
}

.home-remaining-time {
	margin-bottom: 15px;
	margin-left: 45px;
}

.home-social{
	float : right;
}

.home-social-facebook {
	width:150px;
	float :left;
}

.home-social-twitter {
	width:150px;
	margin-left: 10px;
	float : right;
}

.home-news {
	margin: 5px 5px 5px 5px;
}

.home-news-text {
	font-family: helvetica light;
	font-size: 10pt;
	font-weight: bold;
}


/******** JOIN *********/

.join-intro {
	color: #700D1D;
	padding-left: 5px;
}

/******* CONTACT ********/
.contact-phone {
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}

.contact-web {
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}

.contact-phone-content {
	margin-left: 10px;
	margin-bottom: 10px;
}

.contact-web-content {
	margin-left: 5px;
	margin-bottom: 10px;
}

.cadre-map{
	float: right; 
	padding: 25px;  
	width: 60%;
}
.cadre-phone-web{
	float: left; 
	width: 30%;
}

/********** FOOTER **********/
.footer {
	background-image: url('../resources/img/footer/footer_bg.png');
	background-repeat: repeat-x;
	height: 70px;
	padding-top: 40px;
	clear: both;
	color: #85AA8A;
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	clear:both;
}

.footer-copyright {
	font-size: 9pt;
}

.footer-menu {
	padding-left: 20%;
}

.footer-menu a {
	display: inline-block;
	text-decoration: none;
	font-size: 11pt;
	font-style: normal;
	font-family: helvetica;
}

.footer-menu a:visited {
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 11pt;
	font-style: normal;
	font-family: helvetica;
	color: #85AA8A;
}

/**** ERROR ****/
.error {
	font-size: 18pt;
	margin-top: 20px;
	margin-left: 20px;
}
